.DS_Store

# Gradle
.gradle/
build/
gradle-app.setting

# Intellij
*.iml
*.ipr
*.iws
.idea/
out/
classes/
.idea_modules/

# Eclipse
.metadata
.classpath
.project
.settings/
target-eclipse/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.launch

TODO.md























